<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" th:href="@{/CSS/style.css}"/>
<link rel="stylesheet" th:href="@{/CSS/style2.css}"/>
<meta charset="ISO-8859-1">
<title>Silph spa</title>
</head>
<body>

	<div align="center">
		<a th:href="@{/Home}"><img th:src="@{/Immagini/Immagine.png}" width="240" height="84" /></a>		
	</div>
		
	<div align="center">
		<span class="caratteri">
			<span class="spazioParole">
				<a th:href="@{/Home}">HOME</a>       
				<span class="noSpazio"><a th:href="@{/AreaFotografi}">AREA FOTOGRAFI</a></span>
				<span class="noSpazio"><a th:href="@{/AreaFunzionari}">AREA FUNZIONARI</a></span>
				<a th:href="@{/Contatti}">CONTATTI</a>
			</span>
		</span>
	</div><br>
	
	<div align="center"><h3>
		<font color="blue">FOTOGRAFO:</font> &nbsp&nbsp <span th:text="${fotografo.nome}">GGG</span>
    		<span th:text="${fotografo.cognome}">GGG</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    	<font color="blue">ALBUM:</font> &nbsp&nbsp<span th:text="${album.titolo}">GGG</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<font color="blue">FOTOGRAFIA:</font> &nbsp&nbsp <span th:text="${fotografia.titolo}">GGG</span>
    
	</h3></div>
	
	<br><br>


		
	
</body>
</html>